@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'TrashHand';
    src: url('./assets/fonts/TrashHand.woff2') format('woff2'),
         url('./assets/fonts/TrashHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Punk'snotdead";
    src: url('./assets/fonts//Punk_s_not_dead.woff2') format('woff2'),
         url('./assets/fonts//Punk_s_not_dead.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
body {
    max-width: 95vw;
    background-color: black;
    margin: auto;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    background-image: url("./assets/B05I3860.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale();
}

#kf-019-title {
    min-width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Punk'snotdead";
    font-size: 75px;
    letter-spacing: 15px;
    text-decoration: none;
}

.homepage, .homepage-part-2 {
    min-width: 95vw;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid rgba(255, 255, 255, 0.548);
}

.homepage {
    background-image: url(assets/DSC06467.jpg);
}

.homepage-part-2 {
    background-image: url("assets/DSC09786.jpg");
    filter: grayscale();
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 95vw;
    height: 100vh;
}

nav {
    min-width: 95vw;
    display: flex;
    position: sticky;
    z-index: 1000;
    top: 0;
    justify-content: space-around;
    padding-block: 0.5rem;
    margin-top: -3rem;
    background-color: rgba(0, 0, 0, 0.507);
}

nav > a {
    font-family: "Grunge";
    text-decoration: none;
    color: white;
    font-size: 12px;
}

main {
    background-color: rgba(0, 0, 0, 0.34);
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: inherit;
    backdrop-filter: blur(3px);
    font-family: "TrashHand";
    text-align: center;
    font-size: 1.8rem;
}

main > * {
    max-width: 80vw;
}

.homepage-video {
    max-height: 60%;
    max-width: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 100px rgb(65, 60, 60);
}

footer {
    padding-block: 1rem;
    min-width: 100vw;
    max-width: 100vw;
    font-family: "TrashHand";
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    max-width: 10vw;
    filter: invert();
}

.homepage-social-media * {
    max-height: 40px;
    margin-inline: 0.2rem;
}

.button {
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 1000;
    visibility: hidden; /* to hide the element initially */
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.button.show {
    visibility: visible; /* it shows the element when the property show starts */
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0s 0s;
}

.button > img {
    max-width: 50px;
    max-height: 50px;
    filter: invert();
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #FF5733;
    border-radius: 10px;
    border: 3px solid #222;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #C70039;
}

::-webkit-scrollbar-track {
    background-color: #222;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #333;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #FF5733 #222;
    scroll-behavior: smooth;
}

